<!doctype html>
<html>
<head>
	<title>EmailSender</title>
	<link href="css/angular-bootstrap.css" rel="stylesheet">
	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak
		{
			display: none !important;
		}
	</style>
</head>
<body ng-app="main">
<div class="page-header">
	<h1 class="text-center">Email sender app</h1>
</div>
<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
<div ng-controller="emailController">
	<div class="container">
		<form name="emailsForm" class="css-form">
			<div class="col-md-6">
				<div class="form-group " ng-class="{ 'has-error': emailsForm.from.$invalid, 'has-success':emailsForm.from.$valid}"
						>
					<label for="from">Your email address:</label>
					<input
							type="email"
							class="form-control"
							name="from"
							id="from"
							ng-model="email.from"
							ng-pattern="emailFormat"
							ng-minlength="5"
							ng-maxlength="30"
							required
							placeholder="this field is required"
					>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error': emailsForm.to.$invalid, 'has-success':emailsForm.to.$valid}">
					<label for="to">Addressee:</label>
					<input type="email"
							name="to"
							class="form-control"
							id="to"
							ng-model="email.to"
							ng-pattern="emailFormat"
							ng-minlength="5"
							ng-maxlength="30"
							placeholder="this field is required"
							required>
					<div ng-messages="emailsForm.to.$error"
							ng-message="required"
							ng-if="required"
							style="color:maroon"
							role="alert">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
						ng-class="{'has-error': emailsForm.subject.$invalid, 'has-success':emailsForm.subject.$valid}">
					<label for="subject">Subject:</label>
					<input class="form-control"
							name="subject"
							id="subject"
							ng-model="email.subject"
							placeholder="this field is required"
							required/>
				</div>
				<div class="form-group" ng-class="{'has-error': emailsForm.subject.$invalid, 'has-success':emailsForm.subject.$valid}">
					<label for="content">Email text:</label>
					<textarea class="form-control"
							rows="5"
							id="content"
							ng-model="email.content"
							placeholder="this field is required"
							required>

					</textarea>
				</div>
			</div>
		</form>
		<div class="text-center">
			<button type="button" ng-disabled="emailsForm.$invalid" class="btn btn-primary" ng-click="sendEmailToServer()">
				Send!
			</button>
		</div>
	</div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
<script src="js/main.js"></script>
<script src="js/service/HttpService.js" type="text/javascript"></script>
</body>
</html>